.menu {
  a {
    display: inline-block;
    padding: 4px 10px;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(64 71 86);
  }
  .active {
    color: rgb(8 126 164);
    background: rgb(230 247 255);
  }
  .pending {
    animation: pulse 1s infinite;
  }
  .transitioning {
    
  }

  .child {
    padding-left: 24px;
  }
}